<div class="container">
  <div class="row justify-content-center mt-4">

    <div class="card shadow col-6 p-4">
      <!-- <div class="col-6"> -->
        <h1>New Cocktail</h1>
      <!-- </div> -->
      <%= simple_form_for(@cocktail) do |f| %>
        <%= f.input :name, class: 'form-control' %>
        <%= f.input :picture_url, class: 'form-control' %>
        <%= f.submit class: 'btn btn-outline-primary float-right' %>
      <% end %>
    </div>

  </div>
</div>
