<div class="container">
  <div class="row justify-content-center">
    <div class="card shadow p-3">
      <div class="col-12">
        <h1 class="text-center">Add a dose</h1>
        <div class="mt-4">
          <%= simple_form_for [@cocktail, @dose] do |f| %>
            <%= f.input :description %>
            <%= f.association :ingredient %>
            <%= f.submit class: 'btn btn-outline-primary float-right' %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
