.floating-add-button a {
  background-color: #167FFB;
  padding: 8px 20px;
  border-radius: 50%;
  color: white;
  font-size: 40px;
  float: right;
  position: absolute;
  right: -80px;
  bottom: -120px;
}
