// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "card";
@import "floating_add_button";

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: asset-url('background.jpg');
}
