<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to cocktails_path do %>
      <%= image_tag "logo.png", alt: "Le Wagon", width: 180, class: "m-2" %>
    <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

</div>
